html {
    --base-font: Raleway, sans-serif;
    --link-color:     blue;
    --page-color:     #fff;
    --lowlight-color: #d8d8d8;
    --highlight-color: #dfdfdf;
    --border-color:   #888;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    font-family: var(--base-font);
    box-sizing: border-box;
}

section#editor {
    width: 80ch;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--page-color);
}

[contenteditable] {
  outline: 0px solid transparent;
}

section#editor, section#editor:focus-visible {
    border: 1px solid var(--border-color);
}

section#editor:empty {
    display: none;
}

section#editor:-moz-only-whitespace {
    display: none;
}

a:any-link {
    color: var(--link-color);
    text-decoration: none;
}

details.editor { /* if we had the :has pseudoclass we could dispense with the classname here. */
    background-color: var(--lowlight-color);
}

ul.toolbar, ul.toolbar ul {
    display: table;
    padding: 0;
    margin: 0;
}

ul.toolbar li {
    display: table-cell;
    list-style-type: none;
    padding: 0;
    margin: 0;

    vertical-align: middle;
}

ul.toolbar li.section {
    border-right: 1px solid var(--border-color);
    padding-left: .5em;
    padding-right: .5em;
}

ul.toolbar li.section li button {
    border: none;
    cursor: pointer;
    background-color: var(--lowlight-color);

    font-family: var(--base-font);

    text-align: center;
}

ul.toolbar li.section li button:hover {
    background-color: var(--highlight-color);
}

ul.toolbar select {
    font-family: var(--base-font);
}

[disabled=true] {
    display: none;
}

[disabled=false] {
    display: initial;
}

#repository {
    width: 40em;
}
